@charset "UTF-8";
/*去除点击半透明色块*/
*{ margin:0; padding:0; -webkit-tap-highlight-color: rgba(0,0,0,0);/*让容器在计算宽度的时候，从边框位置开始计算*/
    box-sizing: border-box;}
/*禁止横竖屏切换时字体大小缩放*/
html{-webkit-text-size-adjust: 100%;}
body { font-size:12px; color:#3C3C3C; font-family:Verdana, Microsoft YaHei, Simsun; background:#fff;  -webkit-overflow-scrolling: touch;overflow-scrolling: touch; }
/*html5标签转为块级元素*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
fieldset, img { border:0; display:block;}
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; }
textarea { resize:none; }
a { color: #666; text-decoration:none; }
a:hover { color:#f40; text-decoration:none;}
/*去除IOS下输入框内阴影*/
input,textarea{ border:none; -webkit-appearance: none; }
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    zoom:1;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
/*公共代码*/
body{
    background-color: #eee;
}
.container{
    width:100%;
    max-width:640px;
    min-width:320px;
    margin:0 auto;
    background-color: white;
}
